.footerText:hover {
  text-decoration: underline !important;
}
/* Footar Ancors  */

.footar-icon a {
  text-decoration: none;
  color: rgb(29, 29, 29);
  font-size: 22px;
}

/* Footer Social Icon  */
.fb:hover {
  transform: scale(1.4);
  color: rgb(0, 0, 255);
}
.ins:hover {
  transform: scale(1.5);
  color: rgb(255, 6, 180);
}
.twt:hover {
  transform: scale(1.5);
  color: rgb(11, 181, 248);
}
.yt:hover {
  transform: scale(1.5);
  color: red;
}
.git:hover {
  transform: scale(1.5);
  color: rgb(255, 255, 255);
}
.link:hover {
  transform: scale(1.5);
  color: rgb(9, 52, 116);
}
.verticalScrollBar:hover {
  transform: scale(1.1);
  transition: 300ms;
}
