.BannerContainer {
  background-image: url(https://i.ibb.co/cYpJ6q3/other-Banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 75vh;
}
.BannerContainer2 {
  background-color: #0b2750c5;
  height: 75vh;
}
