.navItem:hover {
  color: #0040ff;
}
.onScrollWeb {
  margin-top: 80px;
}
@media only screen and (max-width: 900px) {
  .onScrollWeb {
    margin-top: 0px !important;
  }
}
.profilePopover {
  width: 50vh !important;
  height: 60vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
